<div class="
       container mx-auto bg-gray-800 shadow-lg rounded-lg
    text-gray-200 max-w-3xl
       max-h-[90vh] overflow-auto no-scrollbar
     ">
    <div class=" shadow-lg rounded-lg overflow-hidden ">
      <div class="p-6 pb-2">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-3xl sm:text-3xl font-semibold mb-3 break-words">{{post.title}}</h1>

            <button type="button" (click)="close()"
                    class="text-gray-400 hover:text-white">
              <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7L1 13"/>
              </svg>
            </button>
          </div>
        <div class="text-sm text-gray-400 flex justify-self-start gap-4">
            <div class="text-gray-300 font-bold">{{post.author.username}}</div>
            <div *ngIf="post.author.team!='None'" class="text-green-600 text-xs bg-gray-600 rounded-sm p-1">{{post.author.team}}</div>
            <div class="text-sm text-gray-400">{{ post.created_at | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
        </div>
        <p class="text-gray-300 text-lg mb-4" [innerHTML]="content"></p>
        <div class="flex justify-between mt-4 pb-1 text-sm text-gray-600 fill-current">
            <div class="flex items-center">
                <!-- like button -->
                <button *ngIf="isAuth"
                        type="button"
                        (click)="giveLike()"
                        class="flex items-center cursor-pointer">
                    <svg *ngIf="post.isLiked" xmlns="http://www.w3.org/2000/svg"
                            width="20" height="20"
                            fill="red" 
                            class="bi bi-heart-fill text-gray-500"
                            viewBox="0 0 16 16">
                        <path d="M8 1.314C12.438-3.248 23.534 4.735 8
                                15-7.534 4.736 3.562-3.248 8
                                1.314z"/>
                    </svg>
                    <svg *ngIf="!post.isLiked" xmlns="http://www.w3.org/2000/svg"
                            width="20" height="20"
                            fill="none" stroke="currentColor" 
                            class="bi bi-heart text-gray-500"
                            viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281
                                2.514.878 1.4 3.053c-.523 1.023-.641
                                2.5.314 4.385.92 1.815 2.834 3.989
                                6.286 6.357 3.452-2.368 5.365-4.542
                                6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878
                                10.4.28 8.717 2.01L8 2.748z"/>
                </svg>
                </button>
                <span class="ml-2 text-gray-400 cursor-pointer select-none"
                (click)="toggleLikesOverlay($event)"
                (mouseover)="toggleLikesOverlay($event);clearCloseTimeout()"  
                (mouseleave)="startCloseTimeout()"
                cdkOverlayOrigin #likesOverlay="cdkOverlayOrigin"
                >
                    {{post.countLikes}} 
                    <span *ngIf="post.countLikes==1">like</span>
                    <span *ngIf="post.countLikes!=1">likes</span>
                </span>
            </div>
            <div class="flex text-grey" *ngIf="post.isOwnerOrTeamEdit">
                <!-- Edit button -->
                <div class="flex items-center mr-4">
                    <button type="button" class="flex items-center gap-1"
                    (click)="openEditModal()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square text-gray-500" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                        <span class=" text-gray-400">Edit</span>
                    </button>
                </div>
                <!-- Delete button -->
                <div >
                    <button type="button" class="flex items-center gap-1"
                    (click)="isDeleteViewOpen = !isDeleteViewOpen">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash3 text-gray-500 " viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                        <span class=" text-gray-400">Delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
      <div class=" shadow-lg rounded-lg p-6 pt-0">
        <h2 class="text-2xl font-bold mb-1">Comments</h2>
        <span *ngIf="comments.length==0" class="text-gray-400 font-sm"> No comments yet</span>

        <div *ngIf="commentsPag && commentsPag.total_pages > 1">
            <app-pagination
            [pagination]="commentsPag"
            (changePage)="getComments($event)">
            </app-pagination>
        </div>

        <div *ngFor="let comment of comments">
            <div class="mb-2 px-3 py-2 bg-gray-700 rounded-md shadow-sm">


                <p class="text-gray-300">{{comment.content}}</p>
                <div class="flex justify-between items-center text-xs text-gray-400 mt-1">

                    <span class="font-semibold">{{comment.author.username}}</span>
                    <span>{{comment.created_at | date}}</span>
                </div>
            </div>
        </div>
        
        <div *ngIf="commentsPag && commentsPag.total_pages > 1">
            <app-pagination
            [pagination]="commentsPag"
            (changePage)="getComments($event)">
            </app-pagination>
        </div>
        
        <div *ngIf="isAuth" class="mt-6">
            <h3 class="text-lg font-semibold mb-2">Leave a Comment</h3>
            <form class="space-y-4" [formGroup]="commentForm">
                <textarea formControlName="content"
                          class="w-full p-3 bg-gray-600 text-gray-300 border border-gray-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400"
                          placeholder="Write your comment here" required></textarea>
                <div class="flex justify-end">
                    <button type="submit" (click)="postComment()"
                            class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400">
                        Submit
                    </button>
                    <button type="button" (click)="this.commentForm.reset();"
                            class="ml-2 px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
        <div *ngIf="!isAuth" class="mt-6 text-center">
            <p class="text-gray-400">You must be <a routerLink="/login" class="text-blue-500 hover:underline">logged in</a> to leave a comment.</p>
        </div>
      </div>
    </div>
    <!-- likes overlay ----------------------------------------------------------------------------------------------------------------------------->
    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="likesOverlay"
        [cdkConnectedOverlayOpen]="isLikesOverlayOpen"
        >
            <div class=" min-w-50 max-w-100 text-base bg-gray-700 rounded-xl shadow-lg border border-gray-700"
                (mouseover)="isLikesOverlayOpen=true; clearCloseTimeout()"
                (mouseleave)="startCloseTimeout()"
            >
                <div *ngIf="post.countLikes>5">
                    <app-pagination
                    [pagination]="likesPag"
                    (changePage)="likesPagination($event)">
                    </app-pagination>
                </div>
                <ul >
                    <li
                    *ngFor="let like of likes"
                    class="px-3 py-2 rounded-md hover:bg-gray-700 text-white"
                    >
                    {{ like.author.username }}
                    </li>
                </ul>
            </div>
    </ng-template>
    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOpen]="isDeleteViewOpen"
        >
        <div style="position: fixed; inset: 0; background-color: rgba(0,0,0,0.5); display: flex; align-items: center; justify-content: center; z-index: 10000;"
            (click)="isDeleteViewOpen = false">
            <div  class="bg-gray-800 shadow-lg rounded-lg p-6 text-center border-border-gray-700"
                (click)="$event.stopPropagation()">
                <h2 class="text-xl font-semibold text-gray-200 mb-4" >Delete Confirmation</h2>
                <p class="text-gray-300 mb-6">Are you sure you want to delete this post: {{post.title}}?</p>
                <div class="flex justify-center gap-4">
                    <button  class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400" (click)="deletePost()">Delete</button>
                    <button class="px-4 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-400"
                            (click)="isDeleteViewOpen = false"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
  </div>